ul {
  padding: 0;
  margin: 0;
  list-style-type: none;
}

body {
  font-family: "Raboto";
  color: #212121;
}

h1,
h2,
h3,
p {
  margin: 0;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

address {
  margin-top: 20px;
}

.container {
  max-width: 1200px;
  padding: 0 15px;
  margin-left: auto;
  margin-right: auto;
}

.none {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  overflow: hidden;
  border: 0;
  clip: rect(0 0 0 0);
  display: none;
}

.hidden {
  display: none;
}

.section {
  padding-top: 94px;
  padding-bottom: 94px;
}

@media (max-width: 768px) {
  .nav-list {
    display: none;
  }
  .contacts {
    display: none;
  }
}

@media (max-width: 768px) {
  .container {
    padding: 15px 15px;
  }
}

@media (min-width: 768px) {
  .skills-list {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    margin-left: -30px;
    margin-top: -30px;
  }
  .skills-item {
    -ms-flex-preferred-size: calc(100% / 2 - 30px);
        flex-basis: calc(100% / 2 - 30px);
    margin-left: 30px;
    margin-top: 30px;
  }
}

@media (min-width: 480px) {
  .form-checkbox .checkbox-label {
    font-size: 12px;
  }
  .form-checkbox .contract {
    font-size: 12px;
  }
}

@media (min-width: 768px) {
  .we-list {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    margin-left: -30px;
    margin-top: -30px;
  }
  .we-list-item {
    -ms-flex-preferred-size: calc(100% / 2 - 30px);
        flex-basis: calc(100% / 2 - 30px);
    margin-left: 30px;
    margin-top: 30px;
  }
}

@media (min-width: 768px) {
  .client-logo {
    margin-bottom: 60px;
  }
}

@media (min-width: 768px) {
  .flex-adress {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: baseline;
        -ms-flex-align: baseline;
            align-items: baseline;
    -ms-flex-pack: distribute;
        justify-content: space-around;
  }
}

@media (min-width: 768px) {
  .exemples-list {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
  .exemples-list--exemples-item {
    -ms-flex-preferred-size: calc(100% / 2 - 30px);
        flex-basis: calc(100% / 2 - 30px);
    margin-top: 30px;
    margin-left: 30px;
  }
  .exemples-list--exemples-item img {
    width: 450px;
  }
}

@media (min-width: 1200px) {
  .hidden {
    display: block;
  }
  .contacts {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    margin-left: auto;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .contacts .item + .item {
    margin-left: 50px;
  }
}

@media (min-width: 1200px) {
  .modal {
    width: 528px;
    height: 581px;
  }
}

@media (min-width: 1200px) {
  .skills-list {
    -ms-flex-wrap: nowrap;
        flex-wrap: nowrap;
  }
  .skills-item {
    margin-top: 60px;
  }
  .skills {
    padding-top: 94px;
    padding-bottom: 94px;
  }
  .what-we-do {
    padding-bottom: 94px;
  }
}

@media (min-width: 1200px) {
  .we-list-item {
    width: 270px;
    height: 428px;
    -ms-flex-preferred-size: calc(100% / 4 - 30px);
        flex-basis: calc(100% / 4 - 30px);
    margin-left: 30px;
  }
  .we-img {
    width: 270px;
    height: 260px;
  }
  .we {
    padding-top: 94px;
    padding-bottom: 94px;
  }
}

@media screen and (min-width: 1200px) {
  .footer-blok {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
  .flex-adress .street {
    text-align: left;
  }
  .flex-adress .footer-cont {
    margin-right: 93px;
    text-align: left;
  }
  .subscribe-form {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .subscribe-form button {
    margin-left: 12px;
    margin-top: 0;
  }
  .street {
    margin-right: 70px;
  }
  .footer-blok .subscribe {
    text-align: left;
  }
}

@media (min-width: 1200px) {
  .buttons-list {
    margin-top: 94px;
  }
}

@media (min-width: 1200px) {
  .backdrop .modal {
    width: 528px;
    height: 581px;
  }
}

.logo {
  text-decoration: none;
  font-size: 24px;
  font-weight: 700;
  line-height: 1.17;
  letter-spacing: 0.03em;
  color: #212121;
  -webkit-transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  font-family: "Raleway";
  padding: 24px 0;
}

.logologo:hover, .logologo:focus {
  color: #2196f3;
  background-color: #ffff;
}

.header-logo-decor {
  color: #2196f3;
}

@media (max-width: 768px) {
  .nav-list-item {
    display: none;
  }
  .contacts .item {
    display: none;
  }
}

.nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-left: 93px;
}

.nav-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

@media (min-width: 768px) {
  .nav-box {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
}

.nav-link {
  padding: 32px 0;
  text-decoration: none;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  color: #212121;
  -webkit-transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.nav-link:hover, .nav-link:focus {
  color: #2196f3;
  background: #ffff;
}

.nav-link-active {
  color: #2196f3;
}

.nav-box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: baseline;
      -ms-flex-pack: baseline;
          justify-content: baseline;
}

.nav-list-item {
  position: relative;
}

.nav-link-active::after {
  content: " ";
  display: block;
  width: 100%;
  height: 4px;
  background-color: #2196f3;
  border-radius: 2px;
  position: absolute;
  left: 0;
  top: 45px;
}

.nav-list-item + .nav-list-item {
  margin-left: 50px;
}

.menu-toggle {
  width: 40px;
  height: 40px;
  background-position: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: #ffff;
  border: 0;
  margin-left: auto;
}

.menu-toggle:hover, .menu-toggle:focus {
  fill: #2196f3;
}

@media (min-width: 768px) {
  .menu-toggle {
    display: none;
  }
}

.menu-icon {
  width: 22px;
  height: 22px;
}

.contacts {
  margin-left: auto;
  -webkit-box-pack: baseline;
      -ms-flex-pack: baseline;
          justify-content: baseline;
}

.contacts-contact {
  padding: 10px 0;
  text-decoration: none;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  color: #757575;
  letter-spacing: 0.02em;
  fill: #afb1b8;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.contacts-contact:hover, .contacts-contact:focus {
  fill: #2196f3;
  color: #2196f3;
}

.icon-contact {
  margin-right: 10px;
  -webkit-box-align: baseline;
      -ms-flex-align: baseline;
          align-items: baseline;
  fill: currentColor;
}

.baner {
  background-color: #2f303a;
  text-align: center;
  max-width: 480px;
  max-height: 400px;
  background-size: cover;
  background-image: -webkit-gradient(linear, left top, right top, from(rgba(47, 48, 58, 0.4)), to(rgba(47, 48, 58, 0.4))), url("../images/overlay.jpg");
  background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url("../images/overlay.jpg");
  padding-top: 20px;
  padding-bottom: 20px;
  background-repeat: no-repeat;
}

@media (max-width: 768px) {
  .baner {
    max-width: 768px;
  }
}

@media (min-width: 768px) {
  .baner {
    max-width: 1200px;
  }
}

.baner-container {
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.baner-title {
  margin-bottom: 30px;
  margin-top: 118px;
  color: #ffff;
  font-weight: 900;
  font-size: 26px;
  line-height: 1.36;
  letter-spacing: 0.06em;
  text-transform: uppercase;
}

.baner-button {
  width: 200px;
  height: 50px;
  font-family: "Raboto";
  background-color: #2196f3;
  color: #ffff;
  border: 0;
  -webkit-box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
          box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  cursor: pointer;
  margin-bottom: 118px;
}

.backdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.2);
  -webkit-transition-duration: 250ms;
          transition-duration: 250ms;
}

.is-hidden {
  opacity: 0;
  pointer-events: none;
  -webkit-transition: -webkit-transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: -webkit-transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1), -webkit-transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal {
  position: absolute;
  width: 450px;
  height: 609px;
  top: 50%;
  left: 50%;
  padding: 40px;
  right: 15px;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  background: #ffff;
}

.modal-title {
  margin-bottom: 12px;
  text-align: center;
  font-weight: 700;
  font-size: 20px;
  line-height: 1.15;
  letter-spacing: 0.03em;
}

.close {
  position: absolute;
  top: 8px;
  right: 8px;
  width: 30px;
  height: 30px;
  padding: 0;
  background: #ffff;
  border: 1px solid rgba(0, 0, 0, 0.1);
  border-radius: 50%;
  background-position: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  cursor: pointer;
}

.close .close-img {
  width: 11px;
  height: 11px;
}

.close:hover {
  fill: #2196f3;
}

.baner-button {
  width: 200px;
  height: 50px;
  font-family: "Raboto";
  background-color: #2196f3;
  color: #ffff;
  border: 0;
  -webkit-box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
          box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  cursor: pointer;
}

.backdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.2);
  -webkit-transition-duration: 250ms;
          transition-duration: 250ms;
}

.backdrop .is-hidden {
  opacity: 0;
  pointer-events: none;
  -webkit-transition: -webkit-transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: -webkit-transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1), -webkit-transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.close {
  position: absolute;
  top: 8px;
  right: 8px;
  width: 30px;
  height: 30px;
  padding: 0;
  background: #ffff;
  border: 1px solid rgba(0, 0, 0, 0.1);
  border-radius: 50%;
  background-position: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  cursor: pointer;
}

.close .close-img {
  width: 11px;
  height: 11px;
}

.close:hover {
  fill: #2196f3;
}

.close .modal {
  position: absolute;
  max-width: 450px;
  height: 609px;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  background-color: #ffff;
}

.contract .modal-title {
  margin-bottom: 12px;
  text-align: center;
  font-weight: 700;
  font-size: 20px;
  line-height: 1.15;
  letter-spacing: 0.03em;
}

label {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  font-size: 12px;
  line-height: 1.16;
  letter-spacing: 0.01em;
  color: #757575;
}

textarea {
  resize: none;
}

.form-items {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin-bottom: 10px;
}

.form-items > label {
  margin-bottom: 4px;
}

.form-items-input {
  padding-left: 40px;
  height: 40px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
}

.form-items-input:focus {
  background: none;
  color: #212121;
  outline: 1px solid #2196f3;
}

.form-items-input:focus + .form-icon-img {
  fill: #2196f3;
}

#commit {
  widows: 100%;
  height: 120px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  padding-top: 12px;
  padding-left: 16px;
  font-size: 11px;
}

.form-checkbox {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.form-checkbox .contract {
  font-size: 14px;
  line-height: 24px;
  letter-spacing: 3%;
  margin-left: 5px;
}

.form-checkbox #checkbox {
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
  display: none;
}

.form-checkbox .span-checkbox {
  width: 16px;
  height: 15px;
  display: inline-block;
  background-color: #ffff;
  outline: 2px solid #212121;
  border-radius: 2px;
  margin-left: 5px;
}

.form-checkbox .span-checkbox .span-img {
  width: 11px;
  height: 8px;
  margin-left: 3px;
  margin-top: 3px;
}

.form-checkbox > input {
  width: 16px;
  height: 15px;
}

.form-checkbox > label {
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: #757575;
  margin-left: 8px;
}

#checkbox:checked + .span-checkbox {
  background-color: #2196f3;
  outline: 0px;
  border-radius: 2px;
}

input {
  padding: 0;
  margin: 0;
}

textarea:focus {
  background: none;
  color: #212121;
  outline: 1px solid #2196f3;
}

label {
  left: 0;
}

.icon-form {
  position: relative;
}

.form-icon-img {
  position: absolute;
  bottom: 35%;
  left: 12px;
  background-position: center;
  -webkit-transform: translatey(50%);
          transform: translatey(50%);
  display: inline-block;
  width: 18px;
  height: 18px;
}

.send-button {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.send-button .form-button {
  padding: 10px 55px;
  margin-top: 20px;
  background: #2196f3;
  -webkit-box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
          box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  color: #ffff;
  border: 0;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.87;
  letter-spacing: 0.06em;
}

.send-button .form-button:hover {
  cursor: pointer;
}

.skills-img {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  height: 120px;
  background: #f5f4fa;
  justify-content: center;
  margin-bottom: 30px;
}

.skills {
  padding-top: 60px;
  padding-bottom: 60px;
}

.s-item {
  border-radius: 4px;
  width: 70px;
  height: 70px;
}

.skills-title {
  margin-bottom: 10px;
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  color: #212121;
  letter-spacing: 0.03em;
  text-transform: uppercase;
}

.skills-text {
  margin-top: 0px;
  font-weight: normal;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: #757575;
  margin-bottom: 30px;
}

@media (min-width: 768px) and (max-width: 1200px) {
  .skills-uper {
    margin-top: 60px;
  }
}

.what-we-do {
  padding-top: 0;
  padding-bottom: 60px;
}

.what-we-do-img {
  position: relative;
}

.what-we-do-poster {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  height: 70px;
  background: rgba(47, 48, 58, 0.8);
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  position: absolute;
  bottom: 0;
  left: 0;
}

.what-we-do-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.what-we-do-text {
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #ffff;
}

.what-we-do {
  padding-top: 0px;
}

.what-we-do-img + .what-we-do-img {
  margin-left: 30px;
}

.what-we-do-title {
  text-align: center;
  margin-bottom: 50px;
  font-weight: 700;
  font-size: 36px;
  line-height: 1.16;
  letter-spacing: 0.03em;
}

.what-we-do-img {
  position: relative;
}

.social-item {
  width: 20px;
  height: 20px;
}

.social-items + .social-items {
  margin-left: 10px;
}

.we-block {
  padding: 30px 0;
}

.social-links {
  fill: #afb1b8;
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 44px;
  height: 44px;
  border-radius: 50%;
  -webkit-transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.social-links:hover {
  width: 44px;
  height: 44px;
  border-radius: 50%;
  background-color: #2196f3;
  fill: #ffff;
}

.social-links:focus {
  fill: #ffff;
  background-color: #2196f3;
}

.we {
  background-color: #f5f4fa;
  padding-top: 60px;
  padding-bottom: 60px;
}

.we-title {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.16;
  letter-spacing: 0.03em;
  text-align: center;
  margin-bottom: 50px;
  margin-top: 60px;
}

.we-list-item {
  border-radius: 0px 0px 4px 4px;
  -webkit-box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
          box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
  background-color: #ffff;
  margin-top: 30px;
}

.we-name {
  margin-top: 0;
  margin-bottom: 10px;
  text-align: center;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.18;
  letter-spacing: 0.03em;
  color: #212121;
}

.we-proffesion {
  margin-top: 0;
  margin-bottom: 16px;
  text-align: center;
  font-size: 16px;
  line-height: 1.18;
  letter-spacing: 0.03em;
  color: #757575;
}

.social {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.client-title {
  font-weight: 700;
  font-size: 36px;
  line-height: 42px;
  text-align: center;
  letter-spacing: 0.03em;
  margin-bottom: 50px;
  margin-top: 60px;
}

.client-logo {
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  margin-left: -30px;
  margin-top: -30px;
}

.client-img {
  width: 106px;
  height: 60px;
}

.client-link {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 170px;
  height: 92px;
  border: 1px solid #afb1b8;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  border-radius: 4px;
  fill: #afb1b8;
  -webkit-transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
  margin-left: 30px;
  margin-top: 30px;
  -ms-flex-preferred-size: calc((100% - 90px) / 3);
      flex-basis: calc((100% - 90px) / 3);
}

.client-link:hover, .client-link:focus {
  background: #ffff;
  fill: #2196f3;
  border: 1px solid #2196f3;
  cursor: pointer;
}

.footer {
  background-color: #2f303a;
  padding-top: 60px;
  padding-bottom: 60px;
}

.footer-logo {
  text-decoration: none;
  color: #ffff;
  font-family: "Raleway";
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
  letter-spacing: 0.03em;
  -webkit-transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.footer-logo:hover, .footer-logo:focus {
  color: #2196f3;
}

.address-post {
  font-style: normal;
  text-decoration: none;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: #ffff;
  -webkit-transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.address-email,
.address-tel {
  font-style: normal;
  text-decoration: none;
  font-weight: normal;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: #757575;
  -webkit-transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.address-email:focus, .address-email:hover,
.address-tel:focus,
.address-tel:hover {
  color: #2196f3;
}

.street {
  text-align: center;
}

.footer-cont {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
}

.footer-logo-decor {
  color: #2196f3;
}

.item-footer + .item-footer {
  margin-top: 9px;
}

.join-title {
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #ffff;
  margin-bottom: 20px;
  margin-top: 60px;
}

.join-item {
  width: 44px;
  height: 44px;
}

.join-link {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border-radius: 50%;
  height: 100%;
  width: 100%;
  background-color: rgba(255, 255, 255, 0.1);
  -webkit-transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.join-link:hover, .join-link:focus {
  background-color: #2196f3;
}

.join-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.join-img {
  width: 20px;
  height: 20px;
  fill: #ffff;
}

.subscribe {
  margin-left: 93px;
}

.subscribe-cont {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.join-item + .join-item {
  margin-left: 10px;
}

.subscribe-title {
  color: #ffff;
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  margin-bottom: 20px;
  margin-top: 60px;
}

.subscribe {
  margin-left: 0;
  text-align: center;
}

.subscribe-button {
  width: 200px;
  height: 50px;
  background-color: #2196f3;
  color: #ffff;
  border: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  border-radius: 4px;
  cursor: pointer;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.87;
  margin-right: auto;
  margin-left: auto;
  margin-top: 20px;
}

.subscribe-input {
  width: 358px;
  height: 50px;
  background-color: #2f303a;
  border: 1px solid rgba(255, 255, 255, 0.3);
  -webkit-filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
          filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
  border-radius: 4px;
  padding-left: 16px;
}

.subscribe-input:focus {
  border-color: #2196f3;
  color: #ffff;
  outline: 1px solid #2196f3;
}

.send-icon {
  width: 24px;
  height: 24px;
  margin-left: 10px;
}

.subscribe-cont {
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.buttons-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-bottom: 50px;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.buttons-list--button-item + .buttons-list--button-item {
  margin-left: 8px;
}

.buttons-button {
  border: 0;
  background-color: #f5f4fa;
  border-radius: 4px;
  cursor: pointer;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.62;
  letter-spacing: 0.03em;
  margin-top: 21px;
  min-width: 73px;
  padding: 6px 22px;
  -webkit-transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.buttons-button:hover, .buttons-button:focus {
  background-color: #2196f3;
  color: #ffff;
  -webkit-box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);
          box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);
}

/*@media (max-width: 768px) {
  .buttons-list .added {
    margin-right: 50px;
  }
}*/
.exemples-list {
  margin-left: -30px;
  margin-top: -30px;
  text-decoration: none;
  margin: 15px 0;
}

.examples-overlay {
  position: relative;
  overflow: hidden;
}

.overlay-product {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #2196f3;
  -webkit-transform: translateY(100%);
          transform: translateY(100%);
  -webkit-transition: -webkit-transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: -webkit-transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1), -webkit-transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.overlay-actions {
  margin-left: 24px;
  margin-top: 63px;
}

.actions-text {
  font-size: 18px;
  line-height: 1.5;
  letter-spacing: 0.03em;
  width: 322px;
  height: 168px;
  color: #ffff;
}

.examples-cont {
  padding: 20px 24px;
  border-bottom: 1px solid #eeee;
  border-right: 1px solid #eeee;
  border-left: 1px solid #eeee;
}

.exemples-title {
  font-weight: 700;
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
  color: #212121;
  text-decoration: none;
}

.examples-link {
  list-style: none;
  text-decoration: none;
}

.exempel-type {
  font-size: 16px;
  line-height: 1.87;
  letter-spacing: 0.03em;
  color: #757575;
  text-decoration: none;
}

.exemples-list--exemples-item {
  -ms-flex-preferred-size: calc((100% - 90px) / 3);
      flex-basis: calc((100% - 90px) / 3);
  overflow: hidden;
  margin-top: 30px;
}

.exemples-list--exemples-item:hover {
  -webkit-box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06), 1px 4px 6px rgba(0, 0, 0, 0.16);
          box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06), 1px 4px 6px rgba(0, 0, 0, 0.16);
}

.examples-hover:hover .overlay-product {
  -webkit-transform: translateX(0);
          transform: translateX(0);
}
/*# sourceMappingURL=main.css.map */